In [19]:
# ==============================
# Students Mental Health Project
# ==============================

# 1️⃣ Install dependencies (run once)
!pip install sqlalchemy psycopg2-binary pandas --quiet

# 2️⃣ Import packages
import pandas as pd
from sqlalchemy import create_engine

# 3️⃣ Create SQLAlchemy engine
# Replace username/password/dbname with your PostgreSQL setup
engine = create_engine('postgresql://postgres:sIlv3stris@localhost:2309/students')

# 4️⃣ Query: Aggregate mental health scores for international students by length of stay
query = """
SELECT stay,
       COUNT(*) AS count_int,
       ROUND(AVG(todep),2) AS average_phq,
       ROUND(AVG(tosc),2) AS average_scs,
       ROUND(AVG(toas),2) AS average_as
FROM students_mental_health
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
"""

# 5️⃣ Execute query and load into DataFrame
df_result = pd.read_sql(query, engine)

# 6️⃣ Display results
print("=== International Students Mental Health Summary ===")
df_result

=== International Students Mental Health Summary ===

   stay  count_int  average_phq  average_scs  average_as
0    10          1        13.00        32.00       50.00
1     8          1        10.00        44.00       65.00
2     7          1         4.00        48.00       45.00
3     6          3         6.00        38.00       58.67
4     5          1         0.00        34.00       91.00
5     4         14         8.57        33.93       87.71
6     3         46         9.09        37.13       78.00
7     2         39         8.28        37.08       77.67
8     1         95         7.48        38.11       72.80

In [20]:
# ==============================
# Students Mental Health Project (SQLite + %sql)
# ==============================

# 1️⃣ Install required packages
!pip install ipython-sql sqlalchemy pandas --quiet

# 2️⃣ Import packages
import pandas as pd
import sqlite3

# 3️⃣ Load your CSV into a Pandas DataFrame
csv_path = r'C:\Users\milub\Documents\GitHub\Analyzing-Students-Mental-Health\students.csv'
df = pd.read_csv(csv_path)

# 4️⃣ Create SQLite database as a local file
cnn = sqlite3.connect('students_mental_health.db')  # match this name below

# 5️⃣ Write DataFrame to SQLite table
df.to_sql('students', cnn, if_exists='replace', index=False)

# 6️⃣ Load SQL extension for Jupyter
%load_ext sql

# 7️⃣ Connect SQL magic to the same database
%sql sqlite:///students_mental_health.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%%sql

SELECT * 
FROM students
LIMIT 10;

 * sqlite:///students_mental_health.db
Done.

KeyError: 'DEFAULT'

In [21]:
!pip install --upgrade prettytable

Requirement already satisfied: prettytable in c:\users\milub\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: wcwidth in c:\users\milub\anaconda3\lib\site-packages (from prettytable) (0.2.5)

In [22]:
import pandas as pd
from sqlalchemy import create_engine

# Create SQLAlchemy engine to the same SQLite DB
engine = create_engine('sqlite:///students_mental_health.db')

# Run query and load results into Pandas
query = """
SELECT * 
FROM students
LIMIT 5;
"""
df = pd.read_sql(query, engine)
df  # displays nicely in Jupyter

,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,japanese_cate,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No