In [4]:
# ==============================
# Students Mental Health Project
# ==============================

# 1️⃣ Install dependencies (run once)
!pip install sqlalchemy psycopg2-binary pandas --quiet

# 2️⃣ Import packages
import pandas as pd
from sqlalchemy import create_engine

# 3️⃣ Create SQLAlchemy engine
# Replace username/password/dbname with your PostgreSQL setup
engine = create_engine('postgresql://postgres:sIlv3stris@localhost:2309/students')

# 4️⃣ Query: Aggregate mental health scores for international students by length of stay
query = """
SELECT stay,
       COUNT(*) AS count_int,
       ROUND(AVG(todep),2) AS average_phq,
       ROUND(AVG(tosc),2) AS average_scs,
       ROUND(AVG(toas),2) AS average_as
FROM students_mental_health
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
"""

# 5️⃣ Execute query and load into DataFrame
df_result = pd.read_sql(query, engine)

# 6️⃣ Display results
print("=== International Students Mental Health Summary ===")
df_result

=== International Students Mental Health Summary ===

   stay  count_int  average_phq  average_scs  average_as
0    10          1        13.00        32.00       50.00
1     8          1        10.00        44.00       65.00
2     7          1         4.00        48.00       45.00
3     6          3         6.00        38.00       58.67
4     5          1         0.00        34.00       91.00
5     4         14         8.57        33.93       87.71
6     3         46         9.09        37.13       78.00
7     2         39         8.28        37.08       77.67
8     1         95         7.48        38.11       72.80

In [5]:
# ==============================
# Students Mental Health Project (SQLite + %sql)
# ==============================

# 1️⃣ Install required packages
!pip install ipython-sql sqlalchemy pandas --quiet

# 2️⃣ Import packages
import pandas as pd
import sqlite3

# 3️⃣ Load your CSV into a Pandas DataFrame
csv_path = r'C:\Users\milub\Documents\GitHub\Analyzing-Students-Mental-Health\students.csv'
df = pd.read_csv(csv_path)

# 4️⃣ Create SQLite database as a local file
cnn = sqlite3.connect('students.db')  # creates students.db in your notebook folder

# 5️⃣ Write DataFrame to SQLite table
df.to_sql('students', cnn, if_exists='replace', index=False)

# 6️⃣ Load SQL extension for Jupyter
%load_ext sql

# 7️⃣ Connect SQL magic to the SQLite database
%sql sqlite:///students_mental_health.db